<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
        <script src='http://code.jquery.com/jquery-latest.min.js'></script>
        <script src='static/update.js'></script>
    </head>
    <body>
        <div id="container" style="height: 400px; min-width: 310px"></div>
    </body>
</html>